<html>
<head>
<title>Kết quả thi học kỳ</title>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
 <link rel="stylesheet" href="content1.css">
</head>
<form name = "frm" action ="test.php"  method="post">

		<table border="0" cellspacing="1" cellpadding="2" width="100%" class="tableBorder">
		<tr>
		   <th class="tableHeader">Kết quả thi học kỳ</th>
	   </tr>
	
 <tr>
 <td> 
<Select id="selectClass" name = "lstClass"  size="" ><option value="" > Chọn trong danh sách </option>
<option value="186"  >Chuẩn đầu ra (ĐGNL Tiếng Anh)</option>
<option value="803"  >Giáo dục Quốc phòng - An ninh</option>
<option value="546"  >Giáo dục Thể chất và Thể thao</option>
<option value="801"  >Học kỳ phụ 2013</option>
<option value="810"  >Học kỳ phụ 2014</option>
<option value="818"  >Học kỳ phụ 2015</option>
<option value="821"  >Học kỳ phụ 2016</option>
<option value="805"  >HK I 2013-2014</option>
<option value="806"  >HK I 2013-2014 - Kỳ thi phụ</option>
<option value="804"  >HK I 2013-2014 - Lớp mở đợt 2</option>
<option value="812"  >HK I 2014-2015</option>
<option value="815"  >HK I 2014-2015 - Kỳ thi phụ</option>
<option value="813"  >HK I 2014-2015 - Lớp mở đợt 2</option>
<option value="819"  >HK I 2015-2016</option>
<option value="823"  >HK I 2016-2017</option>
<option value="824"  >HK I 2016-2017 - Kỳ thi phụ</option>
<option value="807"  >HK II 2013-2014</option>
<option value="811"  >HK II 2013-2014 - Kỳ thi phụ</option>
<option value="809"  >HK II 2013-2014 - Lớp mở đợt 2</option>
<option value="816"  >HK II 2014-2015</option>
<option value="817"  >HK II 2014-2015 - Kỳ thi phụ</option>
<option value="820"  >HK II 2015-2016</option>
<option value="822"  >HK II 2015-2016 - Kỳ thi phụ</option>
<option value="323"  >Kỹ năng mềm</option>
</select>
</td>
  </tr>

 </table>
</table>
 </form>

